.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 20rem;
  height: 20rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 3rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  cursor: pointer;
}
