body { text-align: center; padding: 50px; }
h1 { font-size: 50px; }
body { font: 20px Helvetica, sans-serif; color: #333; }
#article { display: block; text-align: left; width: auto; margin: 0 auto; }
a { color: #dc8100; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));;
  width: 20rem;
  height: 20rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 3rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  cursor: pointer;
}